body, html {
    height: 100%;
    margin: 0;
    color: #ffffff;
  }
  
.bg {
    /* The image used */
    background-image: url('/assets/images/background.png');

    height: 100%; /* Full height */
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    margin-left: 50px;
    padding-top: 100px;
  }

header {
    text-align: left;
    padding: 20px;
}

.logo {
    max-width: 58px; /* Adjust based on your logo's size */
}

.content {
    text-align: left;
    padding: 20px;
}

h1 {
    font-size: 101px;
    font-weight: 700;
    font-family: YAFdJn5d8s0-0;
    line-height: 0.94520483em;
    margin-bottom: 5px;
}

h2 {
    font-size: 84px;
    font-weight: 300;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

blog {
    padding: 50px;
    text-align: center;
}

.article {
    color: #000;
    padding: 50px;
    text-align: left;
}

.about {
    padding: 50px;
    text-align: center;
    background-color: #192E47;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #333;
    color: white;
    padding: 50px;
    position: relative;
    bottom: 0;
}

.legal {
    text-align: center;
}

.footer-nav ul li {
    display: inline; /* Display nav items inline */
    margin: 0 15px; /* Add some space around each nav item */
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #0779e4; /* Change the color on hover */
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0; /* Keep space above copyright text */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Ensure copyright text is centered */
footer p {
    text-align: center;
    margin: 0; /* Remove margin to ensure alignment */
}
