/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li .button {
    background-color: #f04;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    background: url('assets/images/background.png') no-repeat center center/cover;
    background-color: #000000;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 48px;
}

#hero p {
    font-size: 20px;
    margin: 20px 0;
}

#hero .button {
    background-color: #f04;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Features Section */
#features {
    background-color: #fff;
    padding: 50px 0;
}

#features .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#features .feature-item {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Templates Section */
#templates {
    background-color: #f4f4f4;
    padding: 50px 0;
}

#templates .template-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

#templates .template-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Pricing Section */
#pricing {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

#pricing .pricing-table {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#pricing .pricing-plan {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

/* Contact Section */
#contact {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}